body{
    font-family:'Lato';
    overflow-x: hidden;
}
form{
  background:url(images/faq_bg1.png);
  background-attachment: fixed;
  background-size: 80vw 50vw;
}
.heading{
    color: #ff8606;
    font-size: 2rem;
    font-weight: bolder;
}
.labels{
    color: #ff8606;
    font-weight: bold;
    font-size: 1.2rem;
}
.btn:hover{
    background-color: #171717;
    color: white;
}
.drop{
    size: 100px 100px;
}
#class{
    width: 220px;
}
.select{
    padding: 8px 12px;
    font-size: 1.2rem;
    width: 400px;
    border-radius: 20px;
}

@media (max-width:767px)
{
    .heading{
    color: #ff8606;
    font-size: 8vw;
    font-weight: bolder;
    }
    .btn{
        background-color: #ff8606;
        color: white;
        position: relative;
    }
    html,body{
        overflow-x: hidden;
    }
    .select{
        padding: 8px 12px;
        display: block;
        width: 280px;
        font-size: 1rem;
        border-radius: 20px;
    }
    .option{
        font-size: 0.8rem;
        padding-right: 8px;
    }
}

