body{
    background-color: #171717;
    font-family: "Lato",sans-serif;
}
#home{
    background: url(images/home_bg.svg) no-repeat center right fixed;
    background-repeat: no-repeat;
    background-size: initial;
    background-position: 650px 40px;
    background-color: #171717;
}
#mainNavbar{
    font-size: 1rem;
    font-weight: 900;
}
#mainNavbar .navbar-nav{
    margin-left: auto;
}
#mainNavbar .nav-link{
    padding: 1rem 1.5rem;
    color: #fa9806;
}
#mainNavbar .nav-link:hover{
    font-size: 1.2rem;
    color: white;
}
#mainNavbar .nav-item a img{
    display: none;
}
#mainNavbar .nav-item:hover a img{
    display: inline;
}
#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    background-color: #fa9806;
    border: none;
    border-radius: 50%;
    z-index: 10;
  }

.bg:hover{
    background-color: #171717;
    color: #ff8606;
}
.buttons{
    color: #000;
    background-color: #fa9806;
    border: none;
    font-size: 2vw;
    box-shadow: 4px 4px;
    max-width: 80%;
    box-shadow: 4px 4px
}
.buttons:hover{
    color: #000;
    background-color: #fa9806;
    border: none;
    box-shadow: 6px 6px;
    
}

.heading{
    color: #ff8606;
    font-size: 2.5rem;
    font-weight: bolder;
}

.img-responsive {
    margin: 0 auto;
}
.heading1{
    color: #ff9b06;
    font-size: 2.5rem;
    font-weight: bolder;
}
.heading3{
    font-size: 2rem;
    font-weight: light;
    color:rgba(245, 244, 244, 0.877);
}
.btn1{
    border-radius: 20px;
    background-color: #ff8606;
    color: white;
    text-shadow: 3px 2px 2px rgb(0, 0, 0), 0 0 25px blue, 0 0 5px rgb(3, 3, 63);
}


.para{
    color: white;
    font-size: 1rem;
}
.para2{
    color: white;
    font-size: 1.5rem;
    font-weight: bolder;
}
.navbar.scrolled{
    background-color: #171717;
    transition: background 0.5s;
}
.quote{
    font-weight: bolder;
    font-size: 1.1rem;
}
.stat{
    background: #fa9806;
}
.stat h3{
    font-size: 3vw;
}
.stat p{
    font-size: 2vw;
    font-weight: bolder;
    color: #292b2c;
}
.faq{
    background-image: url(images/dood.png);
    background-size: contain;
    width: auto;
    padding: 50px 0;
    margin: auto auto;
}


.accordion .card{
    border-radius: 0;
    background: none;
    border-left-width: 0;
    border-right-width: 0;
}
.accordion .card .card-header{
    background: none;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 0 ;
}
.accordion .card-header h2{
    font-size: 1rem;
}
.accordion .card-header .btn{
    color: white;
    width: 100%;
    text-align: left;
    padding-left: 0;
    padding-right:0;
}
.accordion .card-header .btn:hover{
    color: #ff8606;
}
.accordion .card-header i{
    font-size: 1.3rem;
    position: absolute;
    top: 15px;
    right: 1rem;
}
.accordion .card-body{
    color: white;
}
.carousel-item{
    height: 80vh;
    width: 80vw;
    background: no-repeat scroll center scroll;
    background-size: contain;
    align-items: center;
    margin-bottom: 1.5rem;
}
.carousel-item::before{
    content: "";
    display: block;
    position: relative;
    background: #000;
}
.back{
    background-color: rgb(56, 56, 56);
}
.linkCol{
    color: #ff9b06;
}
.linkCol:hover{
    color: white;
    text-decoration: none !important;
}
#contact .row{
    margin-top: 30px;
}
#contact img{
    border-radius: 50%;
}
.data{
    margin: 40px auto;
}
.profile{
    padding: 70px 10px 10px;
    background-color:#d8d8d8
}
.profile img{
    top: -60px;
    position: absolute;
    left: 12vw;
    border: 10px solid white
}
.user{
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
.end{
    color: #292b2c;
    font-size: 1.3rem;
}
@keyframes bouncing {
    from, 20%, 53%, 80%, to {
      animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
      transform: translate3d(0,0,0);
    }
  
    40%, 43% {
      animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
      transform: translate3d(0, -30px, 0);
    }
  
    70% {
      animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
      transform: translate3d(0, -15px, 0);
    }
  
    90% {
      transform: translate3d(0,-4px,0);
    }
  }
  
  .bouncing {
    position: relative;
    animation-duration: 3s;
    animation-name: bouncing;
    animation-iteration-count: infinite;
    font-size: 1.3rem;
  }
@media(min-width : 0){
    .para,.para2,.quote{
        font-size: 1.2rem;
    }
}
@media(min-width : 768px){
    .para,.para2,.quote{
        font-size: 1rem;
    }
}
@media(max-width:768px){
    .buttons{
       font-size: 3.2vw;
    }
}
@media(max-width:768px){
    .end{
        font-size: 1rem;
    }
}
@media(max-width:768px){
    .stat h3{
        font-size: 7vw;
    }
    .stat i{
        font-size: 45px;
    }
    .stat p{
        font-size: 5vw;
        font-weight: bolder;
    }   
}




