body{
    background-color: #171717;
}
.btnth {
    border-radius: 20px;
    background-color: #ff8606;
    color: white;
    font-size: 1.3rem;
    font-weight: bolder;
}
.btnth {
cursor: pointer;
display: inline-block;
position: relative;
transition: 0.5s;
}

.btnth:after {
content: "»";
position: absolute;
opacity: 0;
top: 5px;
right: -20px;
transition: 0.5s;
}

.btnth:hover {
padding-right: 24px;
padding-left: 8px;
}

.btnth:hover:after {
opacity: 1;
right: 10px;
}

.rate {
    height: 53px;
    
    width: 150px;
    margin: auto;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}